<br>

{{#if user}}
<ul class="nav nav-pills nav-justified justify-content-center">
    <li class="nav-item">
      <a class="nav-link " href="/users/home?friends_id={{user.dotaid}}">Home</a>
    </li>
  <li class="nav-item">
      <a class="nav-link active" href="/users/winners?friends_id={{user.dotaid}}">Winners</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/screen?friends_id={{user.dotaid}}">Rampage Compitetion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/donate">Donate us</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello {{user.name}}</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/users/logout">Logout</a>
        </div>
    </li>
</ul>
{{else}}
<ul class="nav nav-pills nav-justified justify-content-center">
    <li class="nav-item">
      <a class="nav-link " href="/">Home</a>
    </li>
  <li class="nav-item">
      <a class="nav-link active" href="/users/winners">Winners</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/screen">Rampage Compitetion</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users/donate">Donate us</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Hello,Click here</a>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/users/login">Login</a>
           <div class="dropdown-divider"></div>
           <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/users/signup">Register</a>
        </div>
    </li>
</ul>
{{/if}}
 <div class="dropdown-divider" style="background-color: #000000;"></div>
<br>
<div class="winnerhead"><h3>No winners yet</h3></div>
<!--<div class="major_giv"><h3>Major Giveaway Winners</h3></div>
<br>

<div class="win_major container">
<div class="row ">
  <div class="col-sm-3">
    <div class="card text-center">
        <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">{{data1.name}}</h3>
        <p class="card-text">{{data1.dotaid}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
        <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">{{data2.name}}</h3>
        <p class="card-text">{{data2.dotaid}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
        <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">{{data3.name}}</h3>
        <p class="card-text">{{data3.dotaid}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
        <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">{{data4.name}}</h3>
        <p class="card-text">{{data4.dotaid}}</p>
      </div>
    </div>
  </div>
</div>
</div>

<br>



<br><br>
<div class="other_giv"><h3>Other Giveaways Winners</h3></div>
<br>
<div class="win_major container">
<div class="row ">
  <div class="col-sm-3">
    <div class="card text-center">
        <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">{{data11.name}}</h3>
        <p class="card-text">{{data11.dotaid}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
        <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">{{data22.name}}</h3>
        <p class="card-text">{{data22.dotaid}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
        <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">{{data33.name}}</h3>
        <p class="card-text">{{data33.dotaid}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card text-center">
        <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h3 class="card-title">{{data44.name}}</h3>
        <p class="card-text">{{data44.dotaid}}</p>
      </div>
    </div>
  </div>
</div>
</div>
<p><div class="hide"><input type="text" name="di" value={{user.dotaid}}><input type="text" name="em" value={{user.email}}></div></p>-->